[Unit]
Description=Tobii USB Service Daemon
Requires=tobii_engine.service

[Service]
Type=forking
Environment=
ExecStartPre=mkdir -p /var/run/tobiiusb
ExecStart=/usr/bin/tobiiusbserviced
ExecReload=rm -rf /var/run/tobiiusb
ExecStop=rm -rf /var/run/tobiiusb
RestartSec=5

[Install]
WantedBy=graphical.target
